html {
  width: 1920px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  background: #F5F5F5;
  width: 1920px;
  max-width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
button:active {
  opacity: 0.5;
}

.container {
  margin-left: -50px;
  width: 2000px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  width: 1396px;
  padding: 0;
}
header .header {
  display: block;
  width: 406px;
  height: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
}
header ul {
  margin-left: -40px;
  display: flex;
  align-items: flex-end;
}
header ul li {
  list-style-type: none;
  margin-bottom: 16px;
  border-bottom: 1px dotted grey;
  margin-left: 25px;
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 24px;
  color: #535658;
  cursor: pointer;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 736px;
  flex-direction: column;
  background: #fff;
  margin-top: 0;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 498px;
}
.slider__arrow-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ECF0F4;
  background: transparent;
}
.slider__goods {
  height: 500px;
  width: 1410px;
  overflow: hidden;
}
.slider .card-container {
  padding: 10px;
  display: grid;
  grid-column-gap: 20px;
  transition: all ease 0.5s;
  margin-top: -10px;
}
.slider .card-container .card {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 496px;
  border: 1px solid #ECF0F4;
  border-radius: 7px;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.slider .card-container .heart {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-left: 280px;
  margin-top: 20px;
}
.slider .card-container .weights {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-left: 280px;
  margin-top: 59px;
}
.slider .card-container .newItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 20px;
  margin-top: 21px;
  width: 48px;
  height: 50px;
  color: white;
  font-weight: 700;
  background-image: url(../assets/icons/blueStar.png);
}
.slider .card-container .popular {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 20px;
  margin-top: 21px;
  width: 48px;
  height: 50px;
  color: white;
  font-weight: 700;
  background-image: url(../assets/icons/redStar.png);
}
.slider .card-container .photo-switcher {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 120px;
  height: 4px;
  margin-top: 317px;
  margin-left: 105px;
}
.slider .card-container .radio {
  display: none;
}
.slider .card-container .photo-el {
  width: 24px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2352941176);
  border-radius: 2px;
  cursor: pointer;
}
.slider .card-container input[type=radio]:checked + label {
  background-color: #F1D264;
}
.slider .card-container .name {
  display: block;
  width: 284px;
  height: 40px;
  margin: 5px auto;
  font-size: 16px;
}
.slider .card-container .price {
  font-size: 16px;
  font-weight: 700;
}
.slider .card-container .prev-price {
  color: grey;
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
}
.slider .card-container .button-section {
  margin-top: 10px;
  display: flex;
  padding: 0 25px;
}
.slider .card-container .count-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 48px;
  border: 1px solid #ECF0F4;
  border-radius: 7px;
  font-size: 24px;
}
.slider .card-container .count-block__btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #8D9295;
}
.slider .card-container .store-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 174px;
  height: 50px;
  background-color: #F1D264;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}
.slider .card-container .store-btn img {
  margin-right: 13px;
}

@media screen and (max-width: 414px) {
  body {
    max-width: 100%;
  }
  header {
    flex-direction: column;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  header .header {
    display: block;
    margin-left: 72px;
    font-size: 18px;
    line-height: 26px;
  }
  header ul {
    align-items: flex-start;
    margin-left: -148px;
    padding: 0;
    flex-direction: column;
    line-height: 22px;
  }
  header ul li {
    font-size: 14px;
    margin-left: 0;
  }
  .container {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .inner-container {
    width: 100%;
    margin: 0;
  }
  .slider {
    width: 100%;
    margin: 0;
  }
  .slider__arrow-btn {
    display: none;
  }
  .slider .card-container {
    margin-left: 10px;
  }
  .slider .card-container .card {
    width: 260px;
    height: 401px;
    padding: 20px;
    margin: 0;
    grid-gap: 0;
  }
  .slider .card-container .card .photo {
    width: 260px;
    height: 260px;
  }
  .slider .card-container .heart,
.slider .card-container .weights {
    margin-left: 206px;
  }
  .slider .card-container .photo-switcher {
    display: none;
  }
  .slider .card-container .count-block {
    display: none;
  }
  .slider .card-container .count-block__btn {
    display: none;
  }
  .slider .card-container .button-section {
    width: 220px;
  }
  .slider .card-container .store-btn {
    width: 100% !important;
    margin: 0 auto;
  }
  .slider .card-container .store-btn img {
    margin-right: 16;
  }
  .slider .card-container .count {
    display: none;
  }
  .slider .card-container .price {
    font-size: 20px;
  }
  .slider .card-container .name {
    margin: 10px -12px;
  }
}

/*# sourceMappingURL=styles.css.map */
